# Python
__pycache__/
*.py[cod]
*.so
*.sqlite3
*.log

# Env / secrets
.env
*.env
*.key
*.pem

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
/media/
staticfiles/  # сюда попадают файлы из collectstatic

# VSCode, macOS
.vscode/
.DS_Store

# PyCharm
.idea/

# Docker
*.pid
