{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Вхід</h2>


    {# Сообщение если пользователь отменил вход через Google #}
    {% if request.GET.cancel %}
        <div class="alert alert-warning">
            Ви скасували вхід через Google.
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.identifier.label_tag }} {{ form.identifier }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
        <a href="{% url 'password_reset_request' %}" class="btn btn-link">Забули пароль?</a>
    </form>

    <hr>

    <div class="mt-3">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger w-100">
            <i class="bi bi-google"></i> Увійти через Google
        </a>
    </div>
</div>
{% endblock %}
