{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Замовлення оформлено" %} — GORISHNIK{% endblock %}

{% block meta_description %}{% trans "Ваше замовлення в інтернет-магазині GORISHNIK успішно оформлено. Дякуємо за покупку!" %}{% endblock %}

{% block content %}
<div class="checkout-container">
    <h2>{% trans "Ваше замовлення оформлено!" %}</h2>
    <p>{% trans "Дякуємо за замовлення. Ми вже працюємо над його відправкою." %}</p>
    <a href="/" class="return-home-btn">{% trans "Повернутись на головну" %}</a>
</div>
<link rel="stylesheet" href="{% static 'payments/payment.css' %}">
{% endblock %}