{% extends "base.html" %}
{% load static %}

{% block title %}Варіанти доставки{% endblock %}

{% block content %}
<!-- Страница с вариантами доставки -->
<div class="container mt-5">
    <h1 class="montserrat-category-title d-flex align-items-center justify-content-center">Варіанти доставки</h1>
    <div class="row">
        <!-- Карта: Нова Пошта -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="/media/pictures/delivery_page/NovaPoshta.jpg" class="card-img-top" alt="Нова Пошта">
                <div class="card-body">
                    <h5 class="card-title">Нова Пошта</h5>
                    <p class="card-text">
                        Відправлення замовлень двічі на день.<br><br>
                        <strong>Обов'язкові дані:</strong>
                        <ol>
                            <li>Прізвище та ім'я</li>
                            <li>Населений пункт</li>
                            <li>Номер відділення Нової Пошти</li>
                            <li>Номер телефону</li>
                        </ol>
                        <strong>Способи оплати:</strong>
                        <ul>
                            <li>накладений платіж (при замовленні від 200 грн)</li>
                            <li>оплата на карту</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!-- Карта: Укрпошта -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="/media/pictures/delivery_page/UkrPoshta.jpg" class="card-img-top" alt="Укрпошта">
                <div class="card-body">
                    <h5 class="card-title">Укрпошта</h5>
                    <p class="card-text">
                        Відправлення замовлень щодня.<br><br>
                        <strong>Обов'язкові дані:</strong>
                        <ol>
                            <li>Прізвище та ім'я</li>
                            <li>Населений пункт</li>
                            <li>Індекс</li>
                            <li>Номер телефону</li>
                        </ol>
                        <strong>Способи оплати:</strong>
                        <ul>
                            <li>накладений платіж (при замовленні від 200 грн)</li>
                            <li>оплата на карту</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!-- Карта: Самовивіз -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="/media/pictures/delivery_page/OurBase.jpg" class="card-img-top" alt="Наш склад">
                <div class="card-body">
                    <h5 class="card-title">Самовивіз</h5>
                    <p class="card-text">
                        Забрати замовлення з магазину:<br>
                        <strong>м. Харків, вул. Вернадського 22</strong><br><br>
                        <strong>Обов'язкові дані:</strong>
                        <ol>
                            <li>Прізвище та ім'я</li>
                            <li>Номер телефону</li>
                        </ol>
                        <strong>Способи оплати:</strong>
                        <ul>
                            <li>оплата на карту</li>
                            <li>оплата при отриманні</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Стили страницы доставки -->
<link rel="stylesheet" href="{% static 'pages/delivery.css' %}">
{% endblock %}
