{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Відгуки" %} — GORISHNIK{% endblock %}

{% block meta_description %}{% trans "Відгуки про товари та сервіс інтернет-магазину GORISHNIK. Читайте що кажуть наші клієнти." %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">{% trans "Reviews" %}</li>
{% endblock %}

{% block content %}
<!-- Страница с отзывами -->
<div class="container mt-5">
    <h1 class="montserrat-category-title d-flex align-items-center justify-content-center">{% trans "Reviews" %}</h1>
</div>
{% endblock %}
