{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ assortment.assortment_name }}
{% endblock %}

{% block content %}
<!-- Страница с деталями товара -->
<div class="container mt-5">
    <div class="row">
        <!-- Изображение товара -->
        <div class="col-md-6">
            {% if assortment.poster %}
                <img src="{{ assortment.poster.url }}" class="img-fluid" alt="{{ assortment.assortment_name }}">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="No image available">
            {% endif %}
        </div>

        <!-- Информация о товаре -->
        <div class="col-md-6">
            <h1 class="montserrat-category-title">{{ assortment.assortment_name }}</h1>
            <p><strong>Категорія:</strong> {{ assortment.assortment_categories }}</p>
            <p><strong>Виробник:</strong> {{ assortment.producer.producer_name }}</p>
            <p><strong>Наявність:</strong> {{ assortment.is_available|yesno:"У наявності,Нема у наявності" }}</p>
            <p><strong>Опис продукту:</strong></p>
            <p>{{ assortment.assortment_description }}</p>

            <!-- Цена -->
            <p class="card-text">
                <strong id="price-display">
                    {% if variants.exists %}
                        {{ variants.first.price }} ₴
                    {% else %}
                        {{ assortment.price }} ₴
                    {% endif %}
                </strong>
            </p>

            <!-- Кнопки выбора граммовки -->
            {% if variants.exists %}
                <div class="mb-3">
                    {% for variant in variants %}
                        <button class="btn btn-outline-secondary grams-button btn-sm"
                                data-price="{{ variant.price }} ₴">
                            {{ variant.grams }}г
                        </button>
                    {% endfor %}
                </div>
            {% else %}
                <p class="card-text">{{ assortment.grams }}г</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Скрипт обработки выбора граммовки -->
<script src="{% static 'assortment/assortment_detail.js' %}"></script>
{% endblock %}
