{% extends "base.html" %}
{% load static %}
{% load assortment_extras %}
{% load i18n %}

{% block title %}{% trans "Категорії товарів" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="montserrat-category-title d-flex align-items-center justify-content-center mb-4">
        {% trans "Категорії товарів" %}
    </h1>

    <!-- Карточки категорий -->
    <div class="row">
        <!-- Карточка "Всі товари" -->
        <div class="col-md-3 mb-4">
            <a href="{% url 'assortment_items' %}" class="category-card">
                <div class="card text-center shadow h-100">
                    <img src="{{ MEDIA_URL }}assortment/category_covers/all_goods.png" class="card-img-top" alt="{% trans 'Всі товари' %}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title mb-3">{% trans "Всі товари" %}</h5>
                        <div class="category-view-btn">
                            <span>{% trans "Переглянути товари" %}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Остальные категории -->
        {% for category in categories %}
            <div class="col-md-3 mb-4">
                <a href="{{ category.get_absolute_url }}" class="category-card">
                    <div class="card text-center shadow h-100">
                        {% if category.cover_image %}
                            <img src="{{ category.cover_image.url }}" class="card-img-top" alt="{{ category.category }}">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title mb-3">{{ category.category }}</h5>
                            <div class="category-view-btn">
                                <span>{% trans "Переглянути товари" %}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<link rel="stylesheet" href="{% static 'assortment/category_list.css' %}">
{% endblock %}
