.montserrat-category-title {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

.navbar,
.navbar a,
.navbar .form-control,
.navbar .btn {
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.montserrat-text {
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.montserrat-category-title {
    font-family: "Montserrat", serif;
    font-weight: 500;
}