{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Our producers" %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">{% trans "Producers" %}</li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="montserrat-category-title text-center mb-4">{% trans "Our producers" %}</h1>
    <div class="row producers-grid">
        {% for producer in producers %}
            <div class="col-md producer-card-wrapper">
                <a href="{% url 'assortment_list' %}?producer={{ producer.id }}" class="producer-card">
                    <div class="producer-logo">
                        {% if producer.producer_img %}
                            <img src="{{ producer.producer_img.url }}"
                                 alt="{{ producer.producer_name }}"
                                 class="producer-img">
                        {% else %}
                            <img src="{% static 'images/default_producer.jpg' %}"
                                 alt="{% trans 'No image' %}"
                                 class="producer-img">
                        {% endif %}
                    </div>
                    <div class="producer-info">
                        <h3 class="producer-name">{{ producer.producer_name }}</h3>
                        <div class="producer-btn">
<!--                            <img src="{% static 'icons/assortment_brown.png' %}"-->
<!--                                 data-hover="{% static 'icons/assortment_white.png' %}"-->
<!--                                 data-original="{% static 'icons/assortment_brown.png' %}"-->
<!--                                 alt="Переглянути товари"-->
<!--                                 class="category-icon">-->
                            <span>{% trans "View products" %}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<link rel="stylesheet" href="{% static 'producer/producer_list.css' %}">
{% endblock %}
